<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Edit the Listing Details:</h3>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Please enter a Title of your property</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Enter description"
                        class="form-control" required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Categories</label>
                
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="room"
                            <%= listing.category.includes("room") ? "checked" : "" %>>
                        <label class="form-check-label">Room Stays</label>
                    </div>
                
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="iconic"
                            <%= listing.category.includes("iconic") ? "checked" : "" %>>
                        <label class="form-check-label">Iconic Stays</label>
                    </div>
                
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="mountains"
                            <%= listing.category.includes("mountains") ? "checked" : "" %>>
                        <label class="form-check-label">Mountains</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="castels"
                            <%= listing.category.includes("castels") ? "checked" : "" %>>
                        <label class="form-check-label">Castels</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="pools"
                            <%= listing.category.includes("pools") ? "checked" : "" %>>
                        <label class="form-check-label">Amazing Pools</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="camping"
                            <%= listing.category.includes("camping") ? "checked" : "" %>>
                        <label class="form-check-label">Camping</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="farms"
                            <%= listing.category.includes("farms") ? "checked" : "" %>>
                        <label class="form-check-label">Farms</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="sea"
                            <%= listing.category.includes("sea") ? "checked" : "" %>>
                        <label class="form-check-label">Sea View</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="arctic"
                            <%= listing.category.includes("arctic") ? "checked" : "" %>>
                        <label class="form-check-label">Arctic</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox"
                            name="listing[category][]"
                            value="boating"
                            <%= listing.category.includes("boating") ? "checked" : "" %>>
                        <label class="form-check-label">Boating</label>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Image link</label>
                    <input name="listing[image]"  type="file" class="form-control">
                </div>
                <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%= listing.country %>" type="text"
                        class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                
                <br>
                <button class="btn btn-dark add-btn">Submit</button>
            </form>
            <br>
        </div>
    </div>
    
</body>
