<% layout("/layouts/boilerplate")%>

        <!-- <h3>All Listings</h3> -->
        <div id="filters">

            <a href="/listings" class="filter">
                <div><i class="fa-solid fa-fire" style="color:#e10e0e;"></i></div>
                <p>Stay Spotlight</p>
            </a>
        
            <a href="/listings?category=room" class="filter <%= selectedCategory === 'room' ? 'active' : '' %>">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Room Stays</p>
            </a>
        
            <a href="/listings?category=iconic" class="filter <%= selectedCategory === 'iconic' ? 'active' : '' %>">
                <div><i class="fa-solid fa-building-columns"></i></div>
                <p>Iconic Stays</p>
            </a>
        
            <a href="/listings?category=mountains" class="filter <%= selectedCategory === 'mountains' ? 'active' : '' %>">
                <div><i class="fa-solid fa-mountain-sun"></i></div>
                <p>Mountains</p>
            </a>
        
            <a href="/listings?category=castels" class="filter <%= selectedCategory === 'castels' ? 'active' : '' %>">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castels</p>
            </a>
        
            <a href="/listings?category=pools" class="filter <%= selectedCategory === 'pools' ? 'active' : '' %>">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </a>
        
            <a href="/listings?category=camping" class="filter <%= selectedCategory === 'camping' ? 'active' : '' %>">
                <div><i class="fa-solid fa-tent"></i></div>
                <p>Camping</p>
            </a>
        
            <a href="/listings?category=farms" class="filter <%= selectedCategory === 'farms' ? 'active' : '' %>">
                <div><i class="fa-solid fa-wheat-awn"></i></div>
                <p>Farms</p>
            </a>
        
            <a href="/listings?category=sea" class="filter <%= selectedCategory === 'sea' ? 'active' : '' %>">
                <div><i class="fa-solid fa-water"></i></div>
                <p>Sea View</p>
            </a>
        
            <a href="/listings?category=arctic" class="filter <%= selectedCategory === 'arctic' ? 'active' : '' %>">
                <div><i class="fa-solid fa-person-skiing"></i></div>
                <p>Arctic</p>
            </a>
        
            <a href="/listings?category=boating" class="filter <%= selectedCategory === 'boating' ? 'active' : '' %>">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>Boating</p>
            </a>
        
        </div>
        
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% if (allListings.length === 0) { %>
                <p class="text-center mt-4">No listings found 😕</p>
            <% } %>
            <% for( let listing of allListings) { %>
                <a href="listings/<%= listing._id %>" class="listing-link">
                    <div class="card">
                        <img src="<%= listing.image.url%>" class="card-img-top" alt="listing_image"
                            style="height:20rem">
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
