<% layout("/layouts/boilerplate")%>

    <body>
        <div class="row">
            <div class="col-7 offset-2 mt-3">
                <h3>
                    <%= listing.title %>
                </h3>
            </div>
            <div class="card col-8 offset-2 mt-3">
                <% const imageUrl=listing.image?.url
                    || "https://images.unsplash.com/photo-1564501049412-61c2a3083791?q=80&w=1332&auto=format&fit=crop" ;
                    %>
                    <img src="<%= imageUrl %>" class="card-img-top show-img" alt="listing-image">
                    <div class="card-body">
                        <p class="card-text">
                        <p>Hosted By <i>
                                <b><%=listing.owner.username%></b>
                            </i></p>
                        <%= listing.description %><br>
                        ₹ <%= listing.price.toLocaleString("en-IN") %> / night<br>
                        <%= listing.location %>,
                        <%= listing.country %><br>
                        </p>
                        <% if (currUser && listing.owner && currUser._id.equals(listing.owner._id)) { %>
                            <div class="btns d-flex gap-3 mb-3">
                                <a href="/listings/<%= listing._id %>/edit" class="col-5">
                                    <button class="btn btn-dark w-100">Edit</button>
                                </a>
                                <form method="post" action="/listings/<%= listing._id %>?_method=DELETE"
                                    class="col-6">
                                    <button class="btn btn-dark w-100">Delete</button>
                                </form>
                            </div>
                            <% } else { %>
                                <div class="btns d-flex gap-3 mb-3">
                                    <a href="/listings/<%= listing._id %>/reserve" class="col-5">
                                        <button class="btn btn-dark w-100 ">Reserve</button>
                                    </a>
                                  </div>
                            <% } %>
                        <hr>
                        <div class="col-9 offset-1 mt-3">
                            <% if (currUser) { %>
                                <h4>Leave a Review</h4>
                                <form method="post" action="/listings/<%= listing._id%>/reviews"
                                    novalidate class="needs-validation">
                                    <div>
                                        <label for="username" class="form-label">Your Name</label>
                                        <input type="text" id="username" name="review[username]"
                                            class="form-control" placeholder="<%= currUser.username %>"
                                            value="<%= currUser.username %>" readonly required>
                                        <div class="invalid-feedback">Name is required</div>
                                    </div>
                                    <br>
                                    <div>
                                        <label for="rating" class="form-label">Rating</label>
                                        <fieldset class="starability-coinFlip">
                                            <input type="radio" id="no-rate" class="input-no-rate"
                                                name="review[rating]" value="1" checked
                                                aria-label="No rating." />
                                            <input type="radio" id="first-rate1" name="review[rating]"
                                                value="1" />
                                            <label for="first-rate1" title="Terrible">1 star</label>
                                            <input type="radio" id="first-rate2" name="review[rating]"
                                                value="2" />
                                            <label for="first-rate2" title="Not good">2 stars</label>
                                            <input type="radio" id="first-rate3" name="review[rating]"
                                                value="3" />
                                            <label for="first-rate3" title="Average">3 stars</label>
                                            <input type="radio" id="first-rate4" name="review[rating]"
                                                value="4" />
                                            <label for="first-rate4" title="Very good">4 stars</label>
                                            <input type="radio" id="first-rate5" name="review[rating]"
                                                value="5" />
                                            <label for="first-rate5" title="Amazing">5 stars</label>
                                        </fieldset>
                                    </div>
                                    <div>
                                        <label for="comment" class="form-label">Comments</label>
                                        <textarea name="review[comment]" id="comment" cols="100"
                                            rows="2" class="form-control" required></textarea>
                                        <div class="valid-feedback">Thanks for the Review and Comment
                                        </div>
                                        <div class="invalid-feedback">Please add some comment for review
                                        </div>
                                    </div>
                                    <button class="btn btn-dark w-50 mt-2 mb-2">Submit</button>
                                </form>
                            <% } else { %>
                                <p>
                                    <a href="/login" class="btn btn-sm btn-dark"> Login </a> to
                                    leave a review.
                                </p>
                            <% } %>
                            <hr>
                            <p><b>All Reviews</b></p>
                            <div class="row">
                            <% for( let review of listing.reviews) { %>
                                <div class="card review-card col-12 col-md-5 ms-md-3 mb-3">
                                    <div class="card-body mt-3">
                                        <h5 class="review-card-header">
                                            @<%= review.username %>
                                        </h5>
                                        <p class="starability-result"
                                            data-rating="<%= review.rating %>">
                                        </p>
                                        <p class="card-text">
                                            <%= review.comment %>
                                        </p>
                                    </div>
                                    <% if (currUser && currUser.username === review.username) { %>
                                    <form method="post"
                                        action="/listings/<%=listing._id%>/reviews/<%= review._id %>?_method=DELETE"
                                        class="mb-3">
                                        <button
                                            class="btn btn-sm btn-dark">Delete</button>
                                    </form>
                                    <% } else { %>
                                        <% } %>
                                     
                                </div>
                                <% } %>
                                                
                            </div>            
                        </div>               
                    </div>
            </div>
        </div>
    </body>